.navbar-brand {
	padding-right: 400px;
	padding-left: 350px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0rem;
    padding-left: 6.5rem;
}

.h-1 {
	padding-top: 150px;
	padding-right: 50px;
	padding-left: 0; 
	font-family: 'Roboto Slab', serif;
}
 .h-1 h4 {
 	font-size: 30px;
 }

.h-2 {
	padding-top: 150px;
	padding-left: 50px;
	padding-right: 0; 
}

.h-1-img {
	padding-left: 150px;
}

.h-2-img {
	padding-right: 150px;
}

.btn-primary {
	background-color: #31588C;
	border-radius: 30px;
	padding: 17px;
	text-align: center;
}

.btn-custom-1 {
	background-color: #ffffff;
	color: #31588C;
	padding-left: 40px;
	padding-right: 40px;
	border: none;
}

.btn-custom-2 {
	padding-left: 40px;
	padding-right: 40px;
	margin-left: 10px;
}

.btn-custom-3 {
	border-radius: 30px;
	border-color: #31588C;
	color: #31588C;
}

.btn-custom-4 {
	padding: 10px;
	border-radius: 30px;
	border-color: #ffffff;
	color: #31588C;
	background-color: #ffffff;
	font-family: 'Roboto Slab', serif;
}

.bg-custom-1 {
	background-color: #dcf2fb;
	padding-bottom: 200px;
	background-image: url(img/hf-11.png);
}

.bg-custom-2 {
	background-color: #bae5f7;
	padding-bottom: 120px;
}

.bg-custom-3 {
	background-color: #FF8A00;
}

.bg-custom-4 {
	padding-top: 100px;
	padding-left: 30px;
	padding-bottom: 40px;
}

.bg-custom-5 {
	background-color: #F7F7F7;
}

.bg-custom-6 {
	background-color: #082528;
	padding-bottom: 100px;
}

.bg-custom-7 {
	padding: 60px;
}

.bg-custom-8 {
	background-color: #FF8A00;
	padding-top: 80px;
	padding-bottom: 80px;
}

.bg-custom-9 {
	padding-bottom: 30px;
}

.bg-custom-10 {
	padding-bottom: 30px;
}

.txt-1 {
	padding-top: 100px;
	padding-bottom: 100px; 
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
}

.txt-2 { 
	font-size: 40px;
	font-family: 'Roboto Slab', serif;
}

.txt-3 { 
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
	background-color: #F7F7F7;
}

.txt-4 { 
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	background-color: #F7F7F7;
}

.txt-5 { 
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	background-color: #F7F7F7;
}

.txt-6 { 
	padding-top: 50px;
	padding-bottom: 50px; 
	font-size: 40px;
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	color: #ffffff;
}

.txt-7 {
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
}

.txt-8 {
	padding-top: 100px;
	padding-bottom: 100px; 
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
}

.txt-9 {
	padding-top: 100px;
	font-family: 'Roboto Slab', serif;
}

.txt-10 {
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
	color: #ffffff;
}

.txt-11 {
	padding-top: 20px;
	padding-bottom: 20px; 
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
}

.txt-12 {
	padding-top: 20px;
	padding-bottom: 20px; 
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
}

.body-img {
	margin: 0;
	padding-left: 80px;
}

li {
	color: #6E6C6C;
	padding: 5px;
}

.bg-3-btn-left {
	padding-top: 200px;
	padding-bottom: 200px;
	padding-right: 0;
	padding-left: 380px;
}

.bg-3-btn-right {
	padding-top: 200px;
	padding-bottom: 200px;
	padding-left: 0;
}

.ico-custom-1 {
	color: #6EC1E4;
	padding-bottom: 10px;
}

.ico-custom-2 {
	color: #31588C;
	padding: 10px;
}

.ico-custom-3 {
	color: #ffffff;
	padding-bottom: 10px;
	margin-top: 80px;;
}

.ico-custom-3:hover {
	color: #d4d1d1;
	padding-bottom: 10px;
	margin-top: 80px;;
}

.map-container-2{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-2 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.jumbo-custom {
	background-image: url(img/hf-2.jpg);

}

.form-custom-1 {
	border-radius: 30px;
	padding: 30px;
	padding-left: 20px;
}

.body-custom-1 {
	padding-bottom: 100px;
}

.card-custom {
	padding-right: 20px;
	margin: 20px;
}

.fa-star {
	color: #31588C;
}

.shadow-lg {
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.175) !important;
}

.bg-success {
	color: #ffffff;
}

