body{
	margin: 0;
	padding: 0;
	width: 100%;
}

/* .navbar-brand {
padding-right: 400px;
padding-left: 350px;
} */

.navbar-expand-lg .navbar-nav .nav-link {
padding-right: 0rem;
padding-left: 2.5rem;
}
.h-1 {
	padding-top: 150px;
	padding-right: 50px;
	padding-left: 0; 
	font-family: 'Roboto Slab', serif;
}
 .h-1 h4 {
 	font-size: 30px;
 }

.h-2 {
	padding-top: 150px;
	padding-left: 50px;
	padding-right: 0; 
}

.h-1-img {
	padding-left: 150px;
}

/* .h-2-img {
	 padding-right: 150px; 
} */


/* .btn-primary2 {
    background-color: #31588C;
    border-radius: 30px;
	  text-align: center;
	  color: #fff;
    background-color: #007bff;
    border-color: #007bff;
} */

.btn-primary {
	background-color: #31588C;
	border-radius: 30px;
	padding: 17px;
	text-align: center;
}

.btn-1 {
	color: #ffffff;
}
.btn-1:hover {
	color: #e4e2e2;
}

.btn-custom-1 {
	background-color: #ffffff;
	color: #31588C;
	padding-left: 40px;
	padding-right: 40px;
	border: none;
}

.btn-custom-2 {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 17px;
	padding-bottom: 17px;
	margin-left: 10px;
}

.btn-custom-3 {
	border-radius: 30px;
	border-color: #31588C;
	color: #31588C;
}

.btn-custom-4 {
	padding: 10px;
	border-radius: 30px;
	border-color: #ffffff;
	color: #31588C;
	background-color: #ffffff;
	font-family: 'Roboto Slab', serif;
}

.btn-custom-5 {
	padding: 10px;
	border-radius: 30px;
	border-color: #31588C;
	color: #ffffff;
	background-color: #31588C;
	font-family: 'Roboto Slab', serif;
}

.btn-custom-6 {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 30px;
	border-color: #31588C;
	color: #ffffff;
	background-color: #31588C;
	font-family: 'Roboto Slab', serif;
}

.btn-custom-7 {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-left: 10px;
}

.btn-custom-8 {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
}

.bg-custom-1 {
    /* background-color: #dcf2fb; */
    padding-bottom: 150px;
    background-image: url(img/hf-13.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-custom-2 {
	background-color: #bae5f7;
	/* padding-bottom: 120px; */ 
}

.bg-custom-3 {
	background-color: #FF8A00;
}

.bg-custom-4 {
	padding-top: 100px;
	padding-left: 30px;
	padding-bottom: 40px;
}

.bg-custom-5 {
	background-color: #F7F7F7;
}

.bg-custom-6 {
	background-color: #082528;
	padding-bottom: 100px;
}

.bg-custom-7 {
	padding: 60px;
	background-color: #ffffff;
}

.bg-custom-8 {
	background-color: #FF8A00;
	padding-top: 80px;
	padding-bottom: 80px;
}

.bg-custom-9 {
	padding-bottom: 30px;
	background-image: url(img/hf-9.png);
}

.bg-custom-10 {
	padding-bottom: 30px;
}

.txt-1 {
	padding-top: 100px;
	padding-bottom: 100px; 
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
}

.txt-2 { 
	font-size: 40px;
	font-family: 'Roboto Slab', serif;
}

.txt-3 { 
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
	background-color: #F7F7F7;
}

.txt-4 { 
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	background-color: #F7F7F7;
}

.txt-5 { 
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	background-color: #F7F7F7;
}

.txt-6 { 
	padding-top: 50px;
	padding-bottom: 50px; 
	font-size: 40px;
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	color: #ffffff;
}

.txt-7 {
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
}

.txt-8 {
	padding-top: 100px;
	padding-bottom: 100px; 
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
}

.txt-9 {
	padding-top: 100px;
	font-family: 'Roboto Slab', serif;
}

.txt-10 {
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
	color: #ffffff;
}

.txt-11 {
	padding-top: 20px;
	padding-bottom: 20px; 
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
}

.txt-12 {
	padding-top: 20px;
	padding-bottom: 20px; 
	font-size: 50px;
	font-family: 'Roboto Slab', serif;
}

.txt-13 {
	padding-top: 20px; 
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
}

.txt-14 {
	font-family: 'Roboto Slab', serif;
}

.body-img-r {
	margin: 0;
	padding-left: 80px;
}

li {
	color: #6E6C6C;
	padding: 5px;
}

.bg-3-btn-left {
	padding-top: 200px;
	padding-bottom: 200px;
	padding-right: 0;
	/* padding-left: 380px; */
}

.bg-3-btn-right {
	padding-top: 200px;
	padding-bottom: 200px;
	padding-left: 0;
}

.ico-custom-1 {
	color: #6EC1E4;
	padding-bottom: 10px;
}

.ico-custom-2 {
	color: #31588C;
	padding: 10px;
}

.ico-custom-3 {
	color: #ffffff;
	padding-bottom: 10px;
	margin-top: 80px;;
}

.ico-custom-3:hover {
	color: #d4d1d1;
	padding-bottom: 10px;
	margin-top: 80px;;
}

.map-container-2{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-2 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.jumbo-custom {
	background-image: url(img/hf-2.jpg);

}

.form-custom-1 {
	border-radius: 30px;
    padding: 30px;
    /* padding-left: 20px; */
    width: 200px;
    float: right;
}

.form-custom-2 {
	border-radius: 30px;
    width: 500px;
    float: right;
}



.body-custom-1 {
	padding-bottom: 100px;
}

.card-custom {
	padding-right: 20px;
	margin: 20px;
}

.fa-star {
	color: #31588C;
}

.shadow-lg {
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.175) !important;
}

.bg-success {
	color: #ffffff;
}

img.rounded-circle {
    height: 400px;
    width: 400px;
}
.h-2-img img{
	width: 600px;
	height: 600px;
}
@media (max-width: 1200px){
	ul.navbar-nav.mr-auto.menu li a {
		font-size: 14px;
	
}
img.rounded-circle {
    height: 300px;
    width: 300px;
}
}
@media (max-width: 992px){
	ul.navbar-nav.mr-auto.menu li a {
		padding-right: 0;
		padding-left: 0;
	}
	img.rounded-circle {
		height: 250px;
		width: 250px;
	}
	.txt-9 {
		padding-top: 60px;
		font-family: 'Roboto Slab', serif;
	}
	.txt-9 h3 {
		font-size: 22px;
	}
	.txt-9 p {
		font-size: 14px;
	}
	.h-2 {
		padding-top: 80px;
		padding-left: 50px;
		padding-right: 0;
	}
	.txt-2 {
		font-size: 30px;
	}
	.bg-custom-1 {
	
		padding-bottom: 0px;
		background-image: url(img/hf-13.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.h-1 {

		font-family: 'Roboto Slab', serif;
		margin: 120px 0 120px 0;
	}
}
@media (max-width: 768px){
	.h-1 h4 {
		font-size: 22px;
	}
	img.rounded-circle {
		height: 180px;
		width: 180px;
	}
	.txt-9 {
		padding-top: 40px;
		font-family: 'Roboto Slab', serif;
	}
	.txt-1 {
		padding-top: 100px;
		padding-bottom: 100px;
		font-size: 35px;
		font-family: 'Roboto Slab', serif;
	}
	.txt-2 {
		text-align: center;
	}
	.h-2 {
	padding: 0;
	}
	.txt-7 {
	
		text-align: center;
		margin: 20px 0;
	}
	.h-2-img img {
		width: auto;
		height: auto;
	}
}
@media (max-width: 576px){
	.form-custom-1 {
		border-radius: 30px;
		padding: 30px;
		/* padding-left: 20px; */
		width: 140px;
		float: right;
		font-size: 14px;
	
}
.btn-custom-2 {
    margin-left: 10px;
    width: 140px;
    padding: 30px;
    height: calc(1.5em + .75rem + 2px);
}
.footer-button{
	margin-left: -10px;
    width: 140px;
    padding: 30px;
    height: calc(1.5em + .75rem + 2px);
}
strong.text-button {
    position: relative;
	bottom: 10px;
	font-size: 14px;
}
.body-img-r {
    margin: 0;
    padding-left: 0;
    margin-top: 20px;
    text-align: center;
}
.body-img-l {
    margin-top: 20px;
    text-align: center;
}

}

/*Star Rating*/
.rating {
	float:left;
  }

  /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
	follow these rules. Every browser that supports :checked also supports :not(), so
	it doesn’t make the test unnecessarily selective */
  .rating:not(:checked) > input {
	  position:absolute;
	 /* top:-9999px; */
	  clip:rect(0,0,0,0);
  }

  .rating:not(:checked) > label {
	  float:right;
	  width:1em;
	  /* padding:0 .1em; */
	  overflow:hidden;
	  white-space:nowrap;
	  cursor:pointer;
	  font-size:300%;
	  /* line-height:1.2; */
	  color:rgb(177, 172, 172);
  }

  .rating:not(:checked) > label:before {
	  content: '★ ';
  }

  .rating > input:checked ~ label {
	  color: #31588C;
	  
  }

  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
	  color: #31588C;
	  
  }

  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
	  color: #31588C;
	  
  }

  .rating > label:active {
	  position:relative;
	  top:2px;
	  left:2px;
  }
/*Star Rating*/

.fa-shopping-cart:hover {
	color: #31588C;
}